body{
    background-size: auto;
    background-image: url(../images/Hosp.jpg) ;
    background-position: center;
}

#main{
    margin: 50px;
}

header{
    margin: 30px;
    text-align: left;
}

#border{
    border: dashed;
    border-style: outset;
    border-style: ridge;
    border-radius: 20px;
    padding: 20px;
    float: left;
}
#first{
    height: 300px;
}
article{
    margin: 20px;
    width: 400px;
}


#homeheader{
    margin: 10px;
    text-align: center;
    font-family: serif;
    font-size: x-large;
    background-color: gainsboro;
    padding: 20px;
    
}
ul{
    float: left;
    width: 200px;
    margin: 20px;
    padding: 10px;
}
li{
    margin: 10px;
    border: 2px;
    padding: 20px;
    background-color: lightsteelblue;
    list-style: none;

}

a:link{
    text-decoration: none;
    font-weight: 400;
    font-family: sans-serif;
    font-size: medium;
}
li:hover{
    background-color: lightcyan;
}

#logout{
    padding: 10px;
    margin-left: 560px;
}
#logout:hover{
    background-color: gray;
    color: white;
}
#pageloading{
    position: relative;
    margin: 50px;
}
